$color-tone-1: #d7dadc;
$color-tone-2: #818384;
$color-tone-3: #565758;
$color-tone-4: #3a3a3c;
$color-tone-5: #272729;
$color-tone-6: #1a1a1b;
$color-tone-7: #121213;
$color-green: #538d4e;
$color-yellow: #b59f3b;
$opacity-50: rgba(0, 0, 0, 0.5);
$base-font-size: 16px;

@keyframes Shake {
  10%, 90% {
    transform: translateX(-1px);
  }
  20%, 80% {
    transform: translateX(2px);
  }

  30%, 50%, 70% {
    transform: translateX(-4px);
  }

  40%, 60% {
    transform: translateX(4px);
  }
}

@keyframes pop {
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes Rotate {
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: $base-font-size;

  body {
    height: 100%;
    color: $color-tone-1;

    #root {
      height: 100%;
      background-color: $color-tone-7;
      width: 500px;
      margin: auto;

      header {
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        padding: 10px 0;
        border-bottom: 1px solid $color-tone-4;
      }

      .message {
        position: fixed;
        text-align: center;
        width: 500px;
        top: 120px;

        span {
          opacity: 0;
          font-size: .9rem;
          background-color: $color-tone-1;
          border-radius: 5px;
          color: $color-tone-5;
          font-weight: bold;
          padding: 20px 15px;
          transition: 0.5s;
        }

        .result {
          opacity: 1;
        }

        .show {
          animation-name: fadeInOut;
          animation-timing-function: cubic-bezier(.1,.27,.23,1);
          animation-duration: 3s;
        }
      }

      .board {
        margin-top: 100px;
        padding: 0 90px;

        .letters-row {
          display: flex;
          justify-content: space-between;
          margin-bottom: 5px;

          &.shake {
            animation-name: Shake;
            animation-timing-function: ease-in-out;
            animation-duration: .5s;
          }

          .letter-tile {
            width: 60px;
            height: 60px;
            border: 2px solid $color-tone-4;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            line-height: 2rem;
            font-weight: bold;
            vertical-align: middle;
            box-sizing: border-box;
            text-transform: uppercase;
            user-select: none;

            &.inputted {
              border-color: $color-tone-3;
              animation-name: pop;
              animation-duration: .08s;
            }

            &.correct {
              border-color: $color-green;
              background-color: $color-green;
              animation-name: Rotate;
              animation-timing-function: ease-in-out;
              animation-duration: .5s;
            }

            &.present {
              border-color: $color-yellow;
              background-color: $color-yellow;
              animation-name: Rotate;
              animation-timing-function: ease-in-out;
              animation-duration: .5s;
            }

            &.absent {
              border-color: $color-tone-4;
              background-color: $color-tone-4;
              animation-name: Rotate;
              animation-timing-function: ease-in-out;
              animation-duration: .5s;
            }
          }
        }
      }

      #keyboard {
        height: 200px;
        position: fixed;
        bottom: 0;
        margin: 0 8px;
        user-select: none;
        width: 484px;

        .row {
          display: flex;
          width: 100%;
          margin: 0 auto 8px;
          touch-action: manipulation;

          .key {
            font-size: .8rem;
            font-family: inherit;
            font-weight: bold;
            border: 0;
            padding: 0;
            margin: 0 6px 0 0;
            height: 58px;
            border-radius: 4px;
            cursor: pointer;
            user-select: none;
            background-color: $color-tone-2;
            color: $color-tone-1;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            -webkit-tap-highlight-color: rgba(0,0,0,0.3);
            transition: .2s;

            &.correct {
              background-color: $color-green;
            }

            &.present {
              background-color: $color-yellow;
            }

            &.absent {
              background-color: $color-tone-4;
            }
          }

          .half {
            flex: 0.5;
          }

          .one-and-a-half {
            flex: 1.5;
            font-size: 12px;
          }
        }
      }
    }
  }
}